body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: darkblue;
}

h2 {
    color: rgb(87, 51, 87);
}

.role {
    font-size: 24px;
    text-align: center;
}