body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: rgb(41, 4, 141);
}

h2 {
    font-size: 48px;
    text-align: center;
    color: rgb(91, 67, 91);
}

.role {
    font-size: 24px;
    text-align: center;
}